[Unit]
Description=Kanata Service

[Service]
ExecStart=~/.cargo/bin/kanata -p 10101 -c ~/.config/kanata/kanata.kbd
Restart=no

[Install]
WantedBy=default.target
